@tailwind base;
@tailwind components;
@tailwind utilities;

/* aos */
@import 'aos/dist/aos.css';

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&family=Poppins:wght@400;500&display=swap');
/* font-family: 'Nunito Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9fcff;
  background-image: linear-gradient(340deg, #dee4ea 0%, #f9fcff 74%);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
